# ===== Node =====
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===== Environment =====
.env

# ===== Runtime =====
logs/
*.log

# ===== Upload files =====
uploads/
tmp/
temp/

# ===== Build / Cache =====
dist/
build/
.cache/

# ===== PDF / Excel Output =====
exports/
reports/
*.pdf
*.xlsx
*.xls

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Editor / IDE =====
.vscode/
.idea/
*.swp

# ===== Coverage / Test =====
coverage/
